@import "../../styles/variables";

.user-item {
  padding: $spacing-large;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius-medium;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
  }

  p {
    margin: 0 $spacing-medium 0 0;
    color: $text-color-light;
  }

  button {
    margin-left: $spacing-small;
    padding: $spacing-small $spacing-medium;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius-small;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
