.add-doctor-nurse-form {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  .doctor-Form {
    display: flex;
    flex-direction: row;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input,
  select,
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    grid-column: 1;

    padding: 0.75rem;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #218838;
    }
  }
}
