.patient-form {
  // max-width: 600px;
  margin: auto;
  height: 95%;
  // padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  // overflow-y: scroll;

  h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
  }

  p {
    font-size: 0.9em;
    color: #666;
  }
  .personalData {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    .form-group {
      margin-bottom: 15px;
      // display: flex;

      label {
        // display: block;
        font-size: 0.85em;
        margin-bottom: 5px;
        color: #333;
      }

      input,
      select {
        width: calc(100% - 22px);
        padding: 10px;
        font-size: 0.9em;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
      }

      input[type="file"] {
        padding: 0;
      }
    }
  }

  button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  button:hover {
    background-color: #0056b3;
  }
}
