@import "./styles/variables";
@import "./styles/mixins";

.app {
  font-family: $font-family-base;
  background-color: $background-color;
  padding: $spacing-large;
  // width: 100%;
  // height: 100vh;

  h2 {
    color: $text-color;
  }
}
